@import "tailwindcss";

@theme inline {
  --shadow-input:
    0px 2px 3px -1px rgba(0, 0, 0, 0.1),
    0px 1px 0px 0px rgba(25, 28, 33, 0.02),
    0px 0px 0px 1px rgba(25, 28, 33, 0.08);
}
.floating-dock {
  transform: translateZ(0); /* Force hardware acceleration */
  backface-visibility: hidden; /* Smooth animations */
}

.lanyard-wrapper {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  transform-origin: center;
}
.laser-flow-container {
  width: 100%;
  height: 100%;
  position: relative;
  pointer-events: none;
}
